# SESI PAGI

# Create String

In [1]:
# Menginputkan Sepatah Kata
print('hello')
print() # Digunakan untuk menampilkan enter
# Menginputkan Seluruh kata
print('This is also a string')

hello

This is also a string

# Variable

In [2]:
s = 'New York'
print(s)
print(type(s))
print(len(s)) # what's the string length New York

New York
<class 'str'>
8

# String Indexing

In [3]:
# Memasukan String
s = 'Hello World'
# Menampilkan Objek
print(s)
print()
# Menampilkan Elemen ke - 1 
print(s[0])
print()
# Menampilkan Elemen ke - 2
print(s[1])

Hello World

H

e

# String Rangkaian dan Pengulangan

In [4]:
# concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [5]:
# repetition (multiplication)
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

# String Slicing

In [6]:
s = "Namaste World"
# Menampilkan String
print(s[1]) #Melaukan "Indexing"
print(s[6:11]) #dan ini melaukan "Slicing"
print(s[-5:-1])

a
e Wor
Worl

In [7]:
# test substring membership
print("Wor" in s)

True

# String upper and lower case

In [8]:
s = "Hello World"
s1 = "Hello"
s2 = "World"

In [9]:
print(s.upper()) ## Mengubah Menjadi Semua Elemen menjadi Huruf Kapital..!!

HELLO WORLD

In [10]:
print(s.lower()) ## Mengubah semua Elemen menjadi huruf biasa..!!

hello world

In [11]:
print(s1.upper()+" "+s2.lower()) ## Mengubah Beberapa bagian elemen ke Kapital dan biasa ..!!

HELLO world

In [12]:
print(s1.lower()+" "+s2.upper()) ## Mengubah Beberapa bagian elemen ke Kapital dan biasa ..!!

hello WORLD

# Print Formatting

In [13]:
name = "Einstein"
age = 22
married = True

In [14]:
print("My name is ", name," my age is", age,"that i am married is ",married  )
# Formatting jika menggunakan koma (,)

My name is  Einstein  my age is 22 that i am married is  True

In [15]:
print("My name is %s my age is %s that i am married is %s" % (name,age,married) )
# Formatting Print ju=ika menggunakan persen (%)

My name is Einstein my age is 22 that i am married is True

In [16]:
print("My name is {} my age is {} that i am married is {}" .format (name,age,married) )
# Formatting Print ju=ika menggunakan Kurung Kurawal ({})

My name is Einstein my age is 22 that i am married is True

# Numbers

In [17]:
#Basic Arithmetic
# Pentambahan
print(2+1)
# Pengurangan
print(2-1)
# Perkalian
print(2*2)
# Pembagian
print(3/2)
# Pemodulan
print(4%2)

3
1
4
1.5
0

In [18]:
#Arithmetic continued
# Pangkat
2**3

8

In [19]:
# Operasi Sederahana
2 + 10 * 10 + 3

105

In [20]:
# Menggunakan kurung
(2+10) * (10+3)

156

# SESI SORE

# Variable Assignment

In [21]:
# Let's create an object called "a" and assign it the number 5
a = 5

# Adding the objects
a+a

10

In [22]:
# Reassignment
a = 10
# Check
a

10

# Data Types

In [23]:
a = 42
b = 32.30
print(type(a))#gets type of a
print(type(b))#gets type of b

<class 'int'>
<class 'float'>

# List

In [24]:
# Mengisi elemen kedalam list dengan nama "my_list"
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [25]:
# Mengisi ulang elemen kedalam list dengan nama "my_list"
my_list = ['A string',23,100.232,'o']
print(my_list)

['A string', 23, 100.232, 'o']

In [26]:
# Menambahakan elemen baru ke dalam List
my_list = ['one','two','three',4,5]
print (my_list)

['one', 'two', 'three', 4, 5]

In [27]:
# Menggunakan "Append"
l = [1, 2.3, ['a', 'b'], 'New York']
l.append('New elemen')
print(l)

[1, 2.3, ['a', 'b'], 'New York', 'New elemen']

In [28]:
# Menggunakan "Extend"
l = [1, 2, 3]
l.extend(['new elemen1','new elemen2', 'new elemen 3'])
print(l)

[1, 2, 3, 'new elemen1', 'new elemen2', 'new elemen 3']

In [29]:
#slicing pada list
lst = [11,12,21,31,42,53,64,75,90,88,87]
print(lst)

[11, 12, 21, 31, 42, 53, 64, 75, 90, 88, 87]

In [30]:
# melakukan SLicing dengan urutan index 4 sampai ke 7
print("elements from index 4 to 7:", lst[4:7])

elements from index 4 to 7: [42, 53, 64]

In [31]:
# melakukan slicing dengan urutan index 2 loncatan urutan
print("alternate elements, starting at index 0:", lst[0::2])

alternate elements, starting at index 0: [11, 21, 42, 64, 90, 87]

In [32]:
# melakukan slicing dengan urutan index 3 loncatan urutan
print("every third element, starting at index 1:", lst[1::3])

every third element, starting at index 1: [12, 42, 75, 87]

# Dictionaries

In [33]:
# Membuat Dictionary dengan "{}" dan ":" untuk menandakan sebuah key dan value 
my_dict = {'one':'Satu','two':'Dua'}

# Memanggil dan menampilkan salah satu dictionary 
my_dict['two']

'Dua'

In [34]:
# Mengisi ulang serta memanggil salah satu dictionary
my_dict["one"]= 123
print(my_dict)

{'one': 123, 'two': 'Dua'}

In [35]:
# Mengubah langsung 123 pada nilai value 
my_dict['one'] = my_dict['one'] - 123
print(my_dict)

{'one': 0, 'two': 'Dua'}

# Set and Booleans

In [36]:
x = set()
# Kita menambahkan elemen pada () method
x.add(1)
# dan tampilkan
print(x)

{1}

In [37]:
# Menambahkan element yang berbeda
x.add(2)

#tampilkan set "x"
print(x)

{1, 2}

In [38]:
# Membuat list dengan elemen yang sama berulang
l = [1,1,2,2,3,4,5,6,1,1]

# Lalu memanggil set untuk menghilangkan elemen ang ter duplikasi
print(set(l))

{1, 2, 3, 4, 5, 6}

# Type Convertion - Primitive

In [39]:
x = 10 # variabel X memiliki elemen Integer
y = str(x) # Variabel Y yaitu Variabel X yang elemen nya sudah diubah menjadi String
print(y)

10

# Type Convertion - Non Primitive

In [40]:
list1 = ['satu',2,'tiga',4.4]
(list1, type(list1))

(['satu', 2, 'tiga', 4.4], list)

In [41]:
list2 = [10,20,32,32,14,15,15,26,28,26,31]
print (list2, type(list2))

[10, 20, 32, 32, 14, 15, 15, 26, 28, 26, 31] <class 'list'>

In [42]:
set_list2 = set(list2) # awalnya berupa "list" yang diubah menjadi "set"
print (set_list2, type(set_list2))

{32, 10, 14, 15, 20, 26, 28, 31} <class 'set'>

In [43]:
tuple1 = (1,'dua','tiga',4,5)
print(tuple1, type(tuple1))

(1, 'dua', 'tiga', 4, 5) <class 'tuple'>

In [44]:
list_tuple1 = list(tuple1) # Awalnya berupa "Tuple" yang diubah menjadi sebuah "list"
print (list_tuple1, type(list_tuple1))

[1, 'dua', 'tiga', 4, 5] <class 'list'>

In [45]:
x =[['name','john'], ['age',22], ['city','delhi']]
print(x, type(x))

[['name', 'john'], ['age', 22], ['city', 'delhi']] <class 'list'>

In [46]:
y = dict(x)
print (y, type(y))

{'name': 'john', 'age': 22, 'city': 'delhi'} <class 'dict'>